body{
	background-color: #FAF6F3;
}
h1 {
  padding-left: 20px;
}

/*<-----------------------------carouse--------------------------------
----------------->*/
.carousel-inner .item{
	height: 530px;
}

.carousel-caption{
	font-size: 28px;
	color: black;
}
.btn-primary{
	background-color: #5A2883;
	float: right;
	margin-right: 8%;
}


/*------------------------------Caption------------------------------------------------------------------------------------------------------------------------------------------------------*/
#h1Format{
	font-size: 36px;
}

#caption{
	padding: 20px;
}
.buttonLink{
	color: white;
}

#navbg{
	height: 530px;
	
	background-image: url('../img/bg.png');
	background-size: auto 100%;
	background-position: center;
}

#navContent{
	height: 100%;
	width: 40%;
	margin-left: 10%;
	background-color: rgba(0, 0, 0, 0.6);
	color: ivory;
}

#navContent ul{
	padding: 20%;
	line-height: 5em;
}
.navLink{
	color: ivory;
	font-size: 30px;
}

.invisible{
	display: none;
}

/*-----------------------------------------------------------------------------------------------------------------Timeline-----------------------------------------------------------------------------------------*/

section#timeline {
  width: 80%;
  margin: 20px auto;
  position: relative;
}
section#timeline:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -1px;
  width: 2px;
  height: 100%;
  background: #5A2883;
}
section#timeline article {
  width: 100%;
  margin: 0 0 20px 0;
  position: relative;
}
section#timeline article:after {
  content: '';
  display: block;
  clear: both;
}
section#timeline article div.inner {
  width: 40%;
  float: left;
  margin: 5px 0 0 0;
  border-radius: 6px;
}
section#timeline article div.inner span.date {
  display: block;
  width: 60px;
  height: 50px;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -32px;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  background: #25303B;
  color: rgba(255,255,255,0.5);
  border: 2px solid #5A2883;
  box-shadow: 0 0 0 7px #25303B;
}
section#timeline article div.inner span.date span {
  display: block;
  text-align: center;
}
section#timeline article div.inner span.date span.day {
  font-size: 10px;
}
section#timeline article div.inner span.date span.month {
  font-size: 18px;
}
section#timeline article div.inner span.date span.year {
  font-size: 10px;
}
section#timeline article div.inner h2 {
  padding: 15px;
  margin: 0;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  border-radius: 6px 6px 0 0;
  position: relative;
}
section#timeline article div.inner h2:after {
  content: '';
  position: absolute;
  top: 20px;
  right: -5px;
  	width: 10px; 
	  height: 10px;
  -webkit-transform: rotate(-45deg);
}
section#timeline article div.inner p {
  padding: 15px;
  margin: 0;
  font-size: 14px;
  background: #fff;
  color: #656565;
  border-radius: 0 0 6px 6px;
}
section#timeline article:nth-child(2n+2) div.inner {
  float: right;
}
section#timeline article:nth-child(2n+2) div.inner h2:after {
  left: -5px;
}
section#timeline article:nth-child(1) div.inner h2 {
  background: #e74c3c;
}
section#timeline article:nth-child(1) div.inner h2:after {
  background: #e74c3c;
}
section#timeline article:nth-child(2) div.inner h2 {
  background: #2ecc71;
}
section#timeline article:nth-child(2) div.inner h2:after {
  background: #2ecc71;
}
section#timeline article:nth-child(3) div.inner h2 {
  background: #e67e22;
}
section#timeline article:nth-child(3) div.inner h2:after {
  background: #e67e22;
}
section#timeline article:nth-child(4) div.inner h2 {
  background: #1abc9c;
}
section#timeline article:nth-child(4) div.inner h2:after {
  background: #1abc9c;
}
section#timeline article:nth-child(5) div.inner h2 {
  background: #9b59b6;
}
section#timeline article:nth-child(5) div.inner h2:after {
  background: #9b59b6;
}
section#timeline article:nth-child(6) div.inner h2 {
  background: #7ECFFF;
}
section#timeline article:nth-child(6) div.inner h2:after {
  background: #7ECFFF;
}
section#timeline article:nth-child(7) div.inner h2 {
  background: #F958A0;
}
section#timeline article:nth-child(7) div.inner h2:after {
  background: #F958A0;
}



.timelineImg{
	width: 45%;
	height: auto;
}
.fa-heart{
	color: #e74c3c;
	-webkit-animation: flash 3s infinite;
	-moz-animation: flash 3s infinite;
	-o-animation: flash 3s infinite;
}
.fa-glass {
	color: #e67e22;
	-webkit-animation: swing 3s infinite;
	-moz-animation: swing 3s infinite;
	-o-animation: swing 3s infinite;
}
.fa-diamond{
  color: #7ECFFF;
  -webkit-animation: flash 3s infinite;
  -moz-animation: flash 3s infinite;
  -o-animation: flash 3s infinite;
}

/*----------------------------------------------------------------------------------------------------------------Photo Gallery---------------------------------------------------------------------------------*/



/*--------------------------------------------------------------------------------------------------------------book----------------------------------------------------------------------------*/

#ECF0F1;
    color: #34495E;
    font-family: 'Lato','Arial',sans-serif;
    font-weight: 400;
    line-height: 1.2;
}
ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
a {
    color: #2C3E50;
    text-decoration: none;
}
#photo .btn {
    border: 2px solid #2C3E50;
    display: inline-block;
    font-size: 0.7em;
    font-weight: 700;
    margin-top: 100px;
    padding: 0.1em 0.4em;
    text-align: center;
    text-transform: uppercase;
    transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
}
.btn:hover {
    border-color: #16A085;
    color: #16A085;
}
.align {
    clear: both;
    margin: 90px auto 20px;
    max-width: 1170px;
    text-align: center;
    width: 100%;
}
.align > li {
    display: inline-block;
    margin: 30px 20px 30px 30px;
    min-height: 300px;
    padding: 0 0 0 60px;
    vertical-align: top;
    width: 500px;
}
.book {
    height: 280px;
    perspective: 1000px;
    position: relative;
    transform-style: preserve-3d;
    width: 220px;
}
.hardcover_front li:first-child {
    backface-visibility: hidden;
    background-color: #EEEEEE;
}
.hardcover_front li:last-child {
    background: none repeat scroll 0 0 #FFFBEC;
}
.hardcover_back li:first-child {
    background: none repeat scroll 0 0 #FFFBEC;
}
.hardcover_back li:last-child {
    background: none repeat scroll 0 0 #FFFBEC;
}
.book_spine li:first-child {
    background: none repeat scroll 0 0 #EEEEEE;
}
.book_spine li:last-child {
    background: none repeat scroll 0 0 #333333;
}
.hardcover_front li:first-child:after, .hardcover_front li:first-child:before, .hardcover_front li:last-child:after, .hardcover_front li:last-child:before, .hardcover_back li:first-child:after, .hardcover_back li:first-child:before, .hardcover_back li:last-child:after, .hardcover_back li:last-child:before, .book_spine li:first-child:after, .book_spine li:first-child:before, .book_spine li:last-child:after, .book_spine li:last-child:before {
    background: none repeat scroll 0 0 #999999;
}
.page > li {
    background: -moz-linear-gradient(left center , #E1DDD8 0%, #FFFBF6 100%) repeat scroll 0 0 transparent;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 -1px 2px rgba(50, 50, 50, 0.1) inset, -1px 0 1px rgba(150, 150, 150, 0.2) inset;
}
.hardcover_front {
    transform: rotateY(-34deg) translateZ(8px);
    z-index: 100;
}
.hardcover_back {
    transform: rotateY(-15deg) translateZ(-8px);
}
.page li:nth-child(1) {
    transform: rotateY(-28deg);
}
.page li:nth-child(2) {
    transform: rotateY(-30deg);
}
.page li:nth-child(3) {
    transform: rotateY(-32deg);
}
.page li:nth-child(4) {
    transform: rotateY(-34deg);
}
.page li:nth-child(5) {
    transform: rotateY(-36deg);
}
.hardcover_front, .hardcover_back, .book_spine, .hardcover_front li, .hardcover_back li, .book_spine li {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform-style: preserve-3d;
    width: 100%;
}
.hardcover_front, .hardcover_back {
    transform-origin: 0 100% 0;
}
.hardcover_front {
    transition: all 0.8s ease 0s, z-index 0.6s ease 0s;
}
.hardcover_front li:first-child {
    -moz-user-select: none;
    cursor: default;
    transform: translateZ(2px);
}
.hardcover_front li:last-child {
    transform: rotateY(180deg) translateZ(2px);
}
.hardcover_back li:first-child {
    transform: translateZ(2px);
}
.hardcover_back li:last-child {
    transform: translateZ(-2px);
}
.hardcover_front li:first-child:after, .hardcover_front li:first-child:before, .hardcover_front li:last-child:after, .hardcover_front li:last-child:before, .hardcover_back li:first-child:after, .hardcover_back li:first-child:before, .hardcover_back li:last-child:after, .hardcover_back li:last-child:before, .book_spine li:first-child:after, .book_spine li:first-child:before, .book_spine li:last-child:after, .book_spine li:last-child:before {
    left: 0;
    position: absolute;
    top: 0;
}
.hardcover_front li:first-child:after, .hardcover_front li:first-child:before {
    height: 100%;
    width: 4px;
}
.hardcover_front li:first-child:after {
    transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}
.hardcover_front li:first-child:before {
    transform: rotateY(90deg) translateZ(158px) translateX(2px);
}
.hardcover_front li:last-child:after, .hardcover_front li:last-child:before {
    height: 160px;
    width: 4px;
}
.hardcover_front li:last-child:after {
    transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
}
.hardcover_front li:last-child:before {
    box-shadow: 0 0 30px 5px #333333;
    transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
}
.hardcover_back li:first-child:after, .hardcover_back li:first-child:before {
    height: 100%;
    width: 4px;
}
.hardcover_back li:first-child:after {
    transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}
.hardcover_back li:first-child:before {
    transform: rotateY(90deg) translateZ(158px) translateX(2px);
}
.hardcover_back li:last-child:after, .hardcover_back li:last-child:before {
    height: 160px;
    width: 4px;
}
.hardcover_back li:last-child:after {
    transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
}
.hardcover_back li:last-child:before {
    box-shadow: 10px -1px 80px 20px #666666;
    transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
}
.book_spine {
    transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
    width: 16px;
    z-index: 0;
}
.book_spine li:first-child {
    transform: translateZ(2px);
}
.book_spine li:last-child {
    transform: translateZ(-2px);
}
.book_spine li:first-child:after, .book_spine li:first-child:before {
    height: 100%;
    width: 4px;
}
.book_spine li:first-child:after {
    transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}
.book_spine li:first-child:before {
    transform: rotateY(-90deg) translateZ(-12px);
}
.book_spine li:last-child:after, .book_spine li:last-child:before {
    height: 16px;
    width: 4px;
}
.book_spine li:last-child:after {
    transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
}
.book_spine li:last-child:before {
    box-shadow: 5px -1px 100px 40px rgba(0, 0, 0, 0.2);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
}
.page, .page > li {
    left: 0;
    position: absolute;
    top: 0;
    transform-style: preserve-3d;
}
.page {
    height: 98%;
    left: 3%;
    top: 1%;
    width: 100%;
    z-index: 10;
}
.page > li {
    height: 100%;
    transform-origin: left center 0;
    transition-property: transform;
    transition-timing-function: ease;
    width: 100%;
}
.page > li:nth-child(1) {
    transition-duration: 0.6s;
}
.page > li:nth-child(2) {
    transition-duration: 0.6s;
}
.page > li:nth-child(3) {
    transition-duration: 0.4s;
}
.page > li:nth-child(4) {
    transition-duration: 0.5s;
}
.page > li:nth-child(5) {
    transition-duration: 0.6s;
}
.book:hover > .hardcover_front {
    transform: rotateY(-145deg) translateZ(0px);
    z-index: 0;
}
.book:hover > .page li:nth-child(1) {
    transform: rotateY(-30deg);
    transition-duration: 1.5s;
}
.book:hover > .page li:nth-child(2) {
    transform: rotateY(-35deg);
    transition-duration: 1.8s;
}
.book:hover > .page li:nth-child(3) {
    transform: rotateY(-118deg);
    transition-duration: 1.6s;
}
.book:hover > .page li:nth-child(4) {
    transform: rotateY(-130deg);
    transition-duration: 1.4s;
}
.book:hover > .page li:nth-child(5) {
    transform: rotateY(-140deg);
    transition-duration: 1.2s;
}
.coverDesign {
    backface-visibility: hidden;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}
.coverDesign:after {
    background-image: linear-gradient(-135deg, rgba(255, 255, 255, 0.45) 0%, transparent 100%);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.coverDesign h1 {
    color: #FFFFFF;
    font-size: 2em;
    letter-spacing: 0.02em;
    margin: 54% 0 0;
    text-align: center;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}
.coverDesign p {
    color: #F8F8F8;
    font-size: 1em;
    text-align: center;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
}
.custom {
  background: #00b7ea; /* Old browsers */
  background: -moz-linear-gradient(top,  #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #00b7ea 0%,#009ec3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
}
.ribbon {
    backface-visibility: hidden;
    background: none repeat scroll 0 0 #C0392B;
    color: #FFFFFF;
    display: block;
    font-size: 0.7em;
    height: 20px;
    letter-spacing: 0.15em;
    line-height: 20px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 11px;
    transform: rotateZ(45deg) translateZ(1px);
    width: 40px;
    z-index: 10;
}
.ribbon:before, .ribbon:after {
    border-bottom: 20px solid #C0392B;
    border-top: 20px solid transparent;
    height: 0;
    position: absolute;
    top: -20px;
    width: 0;
}
.ribbon:before {
    border-left: 20px solid transparent;
    left: -20px;
}
.ribbon:after {
    border-right: 20px solid transparent;
    right: -20px;
}
figcaption {
    left: 160px;
    padding-left: 40px;
    position: absolute;
    text-align: left;
    top: 0;
    width: 310px;
}
figcaption h1 {
    margin: 0;
}
figcaption span {
    color: #16A085;
    display: block;
    padding: 0.6em 0 1em;
}
figcaption p {
    color: #63707D;
    line-height: 1.3;
}
.align > li {
    height: auto;
    margin: 0 0 30px;
    min-height: 440px;
    padding: 0;
    width: 100%;
}
.book {
    margin: 0 auto;
}
figcaption {
    font-size: 90%;
    left: -80px;
    padding-left: 0;
    text-align: center;
    top: 250px;
    width: 320px;
}
#cover1 {
  background-image: url(../img/album.png);
  background-size: auto 100%;
  background-position: center;
}
#cover2 {
  background-image: url(../img/album2.png);
  background-size: auto 100%;
  background-position: center;
}

#photo{
  background-image: url("../img/albumbg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-top: 60px;
 
  height: 560px;
}




/*----------------------------------------------Reception-----------------------------------------------------------------------------------------------------------------------------------------------------------*/
#reception {
height: 740px;
width: 100%;
margin: 0;
padding: 0;
background-color: #BDC3C7;
font-family: 'Raleway';
}

.top {
  background-color: #264356;
  height: 200px;
  margin:0;
  padding:0;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, .25);
}

.form {
  height: 590px;
  width: 400px;
  background-color: #fff;
  margin: -110px auto;
  border-radius: 10px;
  color: #666;
  padding: 0px 0px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, .25);
}

#reception .info {
  padding: 10px;
}

#reception h1, 
#reception h2, 
#reception p {
  text-align: center;
  padding: 0px;
  margin: 5px 5px;
}

#reception h2 {
  font-family: 'Great Vibes', cursive;
  font-weight: 100;
}

p.line {
  margin: 0px auto 20px auto;
  color: #999;
}

.form input {
  font-size: 15px;
  color: #666;
  padding: 6px;
  margin: 25px auto 20px;
  display: block;
  width: 75%;  
}

input:focus {
  outline: 0;
}

#reception .button button {
  display: inline-block;
  width: 400px;
}
#reception button {
  color: #666;
  background-color: #ffbdc7;
  border: none;
  font-family: 'Raleway';
  font-size: 18px;
  font-weight: 600;
  padding: 15px 32px;
  width: 200px;
  margin: 20px auto 0px auto; 
  float:left;
}

button.accept {
  border-radius: 0px 0px 0px 10px;
  border-right: solid 1px #cc919a;
}

button.regret {
  border-radius: 0px 0px 10px 0px;
}

#reception button:hover {
  background-color: #cc919a;
  transition: .5s;
}

#reception button:focus {
  outline: 0;
}


/*-----------------------------------------------------footer----------------------------------------------------------------------*/
footer{
  height: 60px;
  background-color: #264356;
  display: block;
  font-size: 18px;
  color: white;
}

footer span{
  padding: 20px;
}